In [1]:
import os
import pandas as pd

In [2]:
intrinsic = pd.read_hdf(r"C:\Users\GHB\Desktop\SCREW PROJECT\Machine Learning\Dataset.h5", key='dataset')
task = pd.read_csv(r"C:\Users\GHB\Desktop\SCREW PROJECT\Machine Learning\Test\resampled.csv")

In [3]:
print(task)

       Unnamed: 0         Source  Time (ms)          Type  Value
0               0  t030520234000      1.487    TCP_x (mm)   0.00
1               1  t030520234000      2.487    TCP_x (mm)   0.00
2               2  t030520234000      3.487    TCP_x (mm)   0.00
3               3  t030520234000      4.487    TCP_x (mm)   0.00
4               4  t030520234000      5.487    TCP_x (mm)   0.00
...           ...            ...        ...           ...    ...
55463       55463  t030520235007   1818.985  TCP_rz (rad)  -1.21
55464       55464  t030520235007   1819.985  TCP_rz (rad)  -1.21
55465       55465  t030520235007   1820.985  TCP_rz (rad)  -1.21
55466       55466  t030520235007   1821.985  TCP_rz (rad)  -1.21
55467       55467  t030520235007   1822.985  TCP_rz (rad)  -1.21

[55468 rows x 5 columns]

In [4]:
intrinsic = intrinsic[intrinsic["Source"].str.startswith("i")]
print(intrinsic)

                  Source  Time (ms)          Type     Value
0          i030520235006        0.0  Nset (1/min)  0.000000
1          i030520235068        0.0  Nset (1/min)  0.000000
2          i050520238018        0.0   Angle (deg)  0.000000
3          i030520237070        0.0   Angle (deg)  0.000000
4          i280420232085        0.0   Angle (deg)  0.000000
...                  ...        ...           ...       ...
32850565   i050520239058     4020.0   Torque (Nm)  0.019719
32850566   i050520239037     4020.0   Current (V) -0.000610
32850567  i1005202311022     4020.0  Nset (1/min)  0.000000
32850568   i050520239046     4020.0  Nset (1/min)  0.000000
32850569  i1005202311003     4020.0  Nset (1/min)  0.000000

[20469635 rows x 4 columns]

In [5]:
# Assume df1 and df2 are your dataframes
df = pd.concat([intrinsic, task], ignore_index=True)

In [6]:
df = df.drop("Unnamed: 0", axis=1)
print(df)

                 Source  Time (ms)          Type  Value
0         i030520235006      0.000  Nset (1/min)   0.00
1         i030520235068      0.000  Nset (1/min)   0.00
2         i050520238018      0.000   Angle (deg)   0.00
3         i030520237070      0.000   Angle (deg)   0.00
4         i280420232085      0.000   Angle (deg)   0.00
...                 ...        ...           ...    ...
20525098  t030520235007   1818.985  TCP_rz (rad)  -1.21
20525099  t030520235007   1819.985  TCP_rz (rad)  -1.21
20525100  t030520235007   1820.985  TCP_rz (rad)  -1.21
20525101  t030520235007   1821.985  TCP_rz (rad)  -1.21
20525102  t030520235007   1822.985  TCP_rz (rad)  -1.21

[20525103 rows x 4 columns]

In [7]:
df['Source'] = 'id_' + df['Source']

# Replace "idt" with "id" in the column
df['Source'] = df['Source'].str.replace('id_t', 'id', regex=True)
df['Source'] = df['Source'].str.replace('id_i', 'id', regex=True)
print(df)

                  Source  Time (ms)          Type  Value
0         id030520235006      0.000  Nset (1/min)   0.00
1         id030520235068      0.000  Nset (1/min)   0.00
2         id050520238018      0.000   Angle (deg)   0.00
3         id030520237070      0.000   Angle (deg)   0.00
4         id280420232085      0.000   Angle (deg)   0.00
...                  ...        ...           ...    ...
20525098  id030520235007   1818.985  TCP_rz (rad)  -1.21
20525099  id030520235007   1819.985  TCP_rz (rad)  -1.21
20525100  id030520235007   1820.985  TCP_rz (rad)  -1.21
20525101  id030520235007   1821.985  TCP_rz (rad)  -1.21
20525102  id030520235007   1822.985  TCP_rz (rad)  -1.21

[20525103 rows x 4 columns]

In [8]:
print(df)

                  Source  Time (ms)          Type  Value
0         id030520235006      0.000  Nset (1/min)   0.00
1         id030520235068      0.000  Nset (1/min)   0.00
2         id050520238018      0.000   Angle (deg)   0.00
3         id030520237070      0.000   Angle (deg)   0.00
4         id280420232085      0.000   Angle (deg)   0.00
...                  ...        ...           ...    ...
20525098  id030520235007   1818.985  TCP_rz (rad)  -1.21
20525099  id030520235007   1819.985  TCP_rz (rad)  -1.21
20525100  id030520235007   1820.985  TCP_rz (rad)  -1.21
20525101  id030520235007   1821.985  TCP_rz (rad)  -1.21
20525102  id030520235007   1822.985  TCP_rz (rad)  -1.21

[20525103 rows x 4 columns]

In [9]:
df.to_csv(r"C:\Users\GHB\Desktop\SCREW PROJECT\Machine Learning\Deep learning\intrinsic_task_deep.csv")